html {
  font-family: 'Open Sans', sans-serif;
  color: #373737;
}

h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
}

label {
  font-weight: 700;
}

input, textarea { display: block;
  width: 100%;
  border-radius: 0.2em;
  margin-bottom: 0.75em;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  color: #14CC8E;
  border: 1px solid #14CC8E;
  padding: 0.25em 1em;
  border-radius: 5em;
  transition: background 200ms ease-in-out;
}

button:hover {
  color: #fff;
  background: #14CC8E;
}

button:active,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #14CC8E;
}

a:hover {
  color: #07A670; /* #14CC8E darkened 10%, saturated 10% */
}
